/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap") */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100px;
  width: 100%;
  background: rgb(6, 6, 85);
  background: linear-gradient(
    0deg,
    rgba(6, 6, 85, 1) 20%,
    rgba(17, 133, 181, 1) 100%
  );
}

section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.logo {
  font-size: 50px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  height: 100%;
}

.logo spam {
  color: rgb(255, 255, 255);
}

.serach-bar {
  width: 450px;
  height: 100%;
}
.form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px !important;
  background: rgb(255, 255, 255);
}

.btn {
  width: 150px;
  border-radius: 20px;
  height: 50px;
}

.account .nav-item p {
  width: 300px;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.account .nav-item p span {
  margin-left: 15px;
}

.Shopping .nav-item p {
  width: 130px;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
.Shopping .nav-item p span {
  margin-left: 8px;
}
.navbar {
  font-size: 20px;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
  background: rgb(6, 6, 85) !important;
  background: linear-gradient(
    0deg,
    rgba(6, 6, 85, 1) 20%,
    rgba(17, 133, 181, 1) 100%
  ) !important;
}
.nav-link:hover {
  color: #ffffff !important;
}
.Footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 10px;
  background: rgb(2, 2, 5) !important;
  background: linear-gradient(
    0deg,
    rgba(2, 2, 5, 1) 73%,
    rgba(76, 80, 82, 1) 100%
  ) !important;
}
.info {
  width: 28%;
  height: 100%;
  padding: 10px 12px;
}
.info h2 {
  font-size: 60px;
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  padding: 8px;
  cursor: pointer;
}
.info p {
  font-size: 22px;
  color: #fff;
  text-align: justify;
}
.Footer-Nav {
  width: 35%;
  height: 100%;
  padding: 10px 15px;
}
.links-nave {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Footer-Nav h4 {
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  padding: 8px;
  text-align: center;
}
.Footer-Nav .nav {
  width: 100%;
  height: 100%;
}
.Footer-Nav .nav ul li {
  list-style: none;
  font-size: 20px;
}
.Footer-Nav .nav ul li .nav-link {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.Footer-Nav .nav ul li .nav-link:hover {
  text-decoration: underline;
}
.Social {
  width: 100%;
  height: 100%;
}
.Social ul li {
  list-style-type: none;
  float: left;
  margin: 16px;
  font-size: 30px;
  cursor: pointer;
}
.youtube {
  color: #ff0000;
}
.facebook {
  color: #2566e9;
}
.instagram {
  color: #e1306c;
}
.whatsapp {
  color: #2aff78;
}
.twitter {
  color: #e3e3e3;
}
.linked {
  color: #022366;
}

.payment {
  width: 35%;
  height: 100%;
}
.infomation {
  width: 100%;
  height: 50%;
}
.infomation ul li {
  list-style-type: none;
  margin: 5px;
  font-size: 20px;
}
.infomation ul li p {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.infomation ul li p span {
  color: #fff;
  font-size: 20px;
}
.method {
  width: 100%;
  height: 100%;
}

.method ul li {
  list-style-type: none;
  float: left;
  margin: 15px 10px 15px 8px;
  font-size: 70px;
  cursor: pointer;
}
.paypal {
  color: #ffffff;
}
.visa {
  color: #fcfcfc;
}
.aexpress {
  color: #ffffff;
}
.mcard {
  color: #ffffff;
}
.gpay {
  color: #ffffff;
}
.apay {
  color: #ffffff;
}
.rights h4 {
  font-size: 25px;
  color: #fff;
}

.rights {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #020205;
}
.notfound {
  background: rgb(240, 4, 167);
  background: linear-gradient(
    293deg,
    rgba(240, 4, 167, 1) 49%,
    rgba(4, 104, 251, 1) 100%
  );
}
.text-404 {
  font-size: 200px;
}
.danger {
  color: #fff !important;
  font-size: 40px;
  font-weight: 500;
}
.p-text,
.lead-txt {
  font-size: 40px !important;
  font-weight: 500 !important;
}
.btn-home {
  font-size: 24px !important;
  font-weight: 500;
  border-radius: 0 !important;
}
