@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

section {
  height: 100px;
  width: 100%;
  background: rgb(6, 6, 85);
  background: linear-gradient(
    0deg,
    rgba(6, 6, 85, 1) 20%,
    rgba(17, 133, 181, 1) 100%
  );
}

section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
.logo {
  font-size: 50px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  height: 100%;
}

.logo span {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.serach-bar {
  width: 450px;
  height: 100%;
}
.form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px !important;
  background: rgb(255, 255, 255);
}

.btn {
  width: 150px;
  border-radius: 20px;
  height: 50px;
}

.account .nav-link p {
  width: 300px;
  height: 100%;
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 500;
  margin: 10px;
}

.account .nav-link p span {
  margin-left: 15px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
}

.Shopping .nav-link p {
  width: 130px;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}
.Shopping .nav-link p span {
  margin-left: 10px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
}
.navbar {
  font-size: 20px;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
  background: rgb(6, 6, 85) !important;
  background: linear-gradient(
    0deg,
    rgba(6, 6, 85, 1) 20%,
    rgba(17, 133, 181, 1) 100%
  ) !important;
}
.nav-link {
  font-size: 15px;
  text-align: center;
  margin-right: 2px;
}
.nav-link:hover {
  color: #ffffff !important;
}
.Footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 10px;
  background: rgb(2, 2, 5) !important;
  background: linear-gradient(
    0deg,
    rgba(2, 2, 5, 1) 73%,
    rgba(76, 80, 82, 1) 100%
  ) !important;
}
.info {
  width: 28%;
  height: 100%;
  padding: 10px 12px;
}
.info h2 {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  padding: 8px;
  cursor: pointer;
}
.info p {
  font-size: 15px;
  width: 100%;
  color: #fff;
  text-align: justify;
}
.info h2 span {
  color: #fff !important;
  font-size: 30px;
}
.Footer-Nav {
  width: 35%;
  height: 100%;
  padding: 10px 15px;
}
.links-nave {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Footer-Nav h4 {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  text-align: center;
}
.Footer-Nav .nav {
  width: 100%;
  height: 100%;
}
.Footer-Nav .nav ul li {
  list-style: none;
}
.Footer-Nav .nav ul li .nav-link {
  color: #ffffff !important;
  display: flex !important;
  justify-content: space-between !important;
  font-size: 15px !important;
}
.Footer-Nav .nav ul li .nav-link:hover {
  text-decoration: underline;
}
.Social {
  width: 100%;
  height: 100%;
}
.Social ul li {
  list-style-type: none;
  float: left;
  margin: 16px;
  font-size: 20px;
  cursor: pointer;
}
.youtube {
  color: #ff0000 !important;
}
.facebook {
  color: #2566e9;
}
.instagram {
  color: #e1306c;
}
.whatsapp {
  color: #2aff78;
}
.twitter {
  color: #e3e3e3;
}
.linked {
  color: #022366;
}

.payment {
  width: 35%;
  height: 100%;
}
.infomation {
  width: 100%;
  height: 50%;
}
.infomation ul {
  margin-top: 70px;
}
.infomation ul li {
  list-style-type: none;
  margin: 5px;
  font-size: 20px;
}
.infomation ul li p {
  font-size: 20px;
  color: #fff;
}
.infomation ul li p span {
  color: #fff;
  font-size: 24px;
}
.method {
  width: 100%;
  height: 100%;
}

.method ul li {
  list-style-type: none;
  float: left;
  margin: 15px 10px 15px 8px;
  font-size: 50px;
  cursor: pointer;
}
.paypal {
  color: #ffffff;
}
.visa {
  color: #fcfcfc;
}
.aexpress {
  color: #ffffff;
}
.mcard {
  color: #ffffff;
}
.gpay {
  color: #ffffff;
}
.apay {
  color: #ffffff;
}
.rights h4 {
  font-size: 18px;
  color: #fff;
}

.rights {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #020205;
}
.notfound {
  background: #ffffff;
}
.text-404 {
  font-size: 200px;
}
.danger {
  color: #000000 !important;
  font-size: 40px;
  font-weight: 500;
}
.p-text,
.lead-txt {
  font-size: 40px !important;
  font-weight: 500 !important;
  color: #000000 !important;
}
.btn-home {
  font-size: 24px !important;
  font-weight: 500;
  border-radius: 0% !important;
}
.signup-main {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgb(255, 255, 255) 46%,
    rgb(2, 64, 157) 93%
  );
  padding: 24px;
}
.signup-main form {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-info {
  background: #000;
  width: 33%;
  height: 100%;
  padding: 20px;
  color: #fff;
}
.personal-info h2,
.residitional-info h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px;
}
.personal-info p,
.residitional-info p {
  font-size: 18px;
  font-weight: 600;
  margin-left: 12px;
}
.name,
.password-field,
.Street,
.Codes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px 8px 4px;
  margin: 10px 0 12px 0;
}
.name input,
.password-field input,
.address input,
.street-no input,
.Postal input,
.phone-no input,
.code input {
  outline: none;
  width: 90%;
  height: 50px;
  padding: 4px;
  font-size: 20px;
}
.email {
  display: block;
  padding: 8px 4px 8px 4px;
  margin: 10px 0 12px 0;
}

.email input {
  outline: none;
  width: 95%;
  height: 50px;
  padding: 4px;
  font-size: 20px;
}

label {
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}
span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  color: #ff0000;
}

.gender {
  margin-top: 20px;
  padding: 5.5px;
}
.residitional-info {
  background: #000000;
  width: 33%;
  height: 100%;
  padding: 20px;
  color: #fff;
}
.address {
  display: block;
  padding: 8px 4px 8px 4px;
  margin: 10px 0 12px 0;
}
.address input {
  width: 100% !important;
}

.code input {
  width: 40%;
}
.phone-no input {
  width: 100%;
}
.bank-info {
  background: #000;
  width: 33%;
  height: 100%;
  padding: 20px;
  color: #fff;
}
.bank-info h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.bank-info p {
  font-size: 18px;
  font-weight: 600;
}
.register-btn {
  background: #0000ff;
  color: #fff;
  height: 60px;
  width: 380px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  outline: none;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 100%;
  background: #ffff;
  padding: 40px 28px;
  background: #ffff;
}
.form-div {
  width: 550px;
  height: 100%;
  padding: 40px 30px;
  text-align: center;
  margin-top: 60px;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
}
.main .form-div h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 600;
}
.main .form-div .slogan {
  padding: 12px 8px;
  font-size: 24px;
  font-weight: 500;
}
.slogan span {
  color: #fff !important;
  font-size: 30px;
}
.main .form-div .input-field {
  width: 100%;
  height: 100%;
  padding: 15px 12px;
}
.main .form-div .input-field input {
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  text-align: left;
  padding: 15px;
}
.main .form-div .form-links {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin-bottom: 20px;
}
.main .form-div .form-links .input-check {
  margin-left: 60px !important;
}
.main .form-div .form-links .input-check lable {
  margin-left: 5px;
  font-size: 18px;
}
.login-btn {
  text-align: left !important;
  margin-left: 105px;
  margin-bottom: 20px;
}
.login-btn button,
.feadback-btn button {
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  background: #0468fb;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.feadback-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 100%;
  background: #ffff;
  padding: 40px 28px;
  background: #ffffff;
}
.feadback-main .feaback-form {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
.feadback-main .feaback-form h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.feadback-main .feaback-form .input-field {
  width: 100%;
  height: 100%;
  margin: 4px;
}
.feadback-main .feaback-form .input-field label {
  display: block;
  text-align: left;
  margin-left: 170px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}
.feadback-main .feaback-form .input-field input {
  width: 75%;
  height: 50px;
  outline: none;
  padding: 12px;
  margin-bottom: 5px;
  border: none;
}
.message {
  width: 100%;
  height: 100%;
  margin: 4px;
}
.message label {
  display: block;
  text-align: left;
  margin-left: 170px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}
textarea {
  border: none;
  outline: none;
}
.contact-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main .map {
  margin-top: 4px;
  width: 50%;
  height: 100%;
}
.contact-main .contact-info {
  width: 50%;
  height: 630px;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  padding: 40px;
}
.contact-main .contact-info h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin-bottom: 20px;
  font-weight: 700;
}
.contact-line {
  width: 100%;
  height: 40px;
}
.contact-line p {
  font-size: 20px;
  font-weight: 500;
  padding: 12px;
  margin: 28px 10px 28px 110px;
}
.contact-line p span {
  margin-right: 10px;
}
.contact-bttn {
  margin: 28px 10px 28px 115px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-bttn button {
  width: 25%;
  height: 40px;
  font-size: 20px;
  margin: 10px;
}
.login-register-btn {
  background: #001aff;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 610px;
}
.about-main .about-us {
  width: 33%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  padding: 40px;
}
.about-us h3,
.mission h3,
.vission h3 {
  font-size: 40px;
  font-weight: 700;
  padding: 12px 18px;
  margin-top: 20px;
}
.about-us p,
.mission p,
.vission p {
  text-align: justify;
  font-size: 20px;
  padding: 8px 10px;
}
.about-main .mission {
  width: 33%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  padding: 40px;
}
.about-main .vission {
  width: 33%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  padding: 24px;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  padding: 40px;
}
.login-register-btn .nave-link {
  text-decoration: none;
  color: #fff;
}
.home-main {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    14deg,
    rgba(11, 2, 8, 1) 46%,
    rgba(4, 104, 251, 1) 93%
  );
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
}
.first-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 10px;
}
.card {
  width: 25%;
  height: 100%;
  box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 10px 14px -1px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  margin: 5px;
}
.home-main .first-section .card .card-img {
  height: 300px;
  width: 100%;
}

.home-main .first-section .card .card-img img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.card-heading h4 {
  color: #000;
  font-size: 16px;
  padding: 12px;
}
.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 12px;
}
.card-price p {
  color: #000;
  font-size: 18px;
}

.card-price p span {
  font-size: 18px;
}
.card-price p .price {
  color: #000000 !important;
  font-weight: 700;
}
.card-price p .stock {
  font-size: 14px;
  color: #16ef21 !important;
  font-weight: 400;
}
.cart-btn {
  padding: 8px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn button {
  border: none;
  outline: none;
  width: 400px;
  height: 50px;
  font-weight: 700;
  color: #fff;
  background: #141457;
  text-transform: uppercase;
}
.banner-main {
  width: 100%;
  height: 100%;
}
.banner-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-main .banner-image img {
  width: 90%;
  height: 100%;
}
